
MacOSX/.DS_Store
.DS_Store
MacOSX/SingTracks.xcodeproj/project.xcworkspace/xcuserdata/kirankumar.xcuserdatad/UserInterfaceState.xcuserstate
MacOSX/build/Debug/SingTracks.app/Contents/MacOS/SingTracks
